<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"

        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.UserMapper">
    <select id="findUserWithOrders" parameterType="int" resultMap="userOrderResult">
        select user.*,orders.id as oid,number
        from user,orders
        where user.id=orders.user_id and user.id=#{id}
    </select>
    <resultMap id="userOrderResult" type="users">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="username" column="username"/>
        <collection property="ordersList" ofType="orders">
            <id property="id" column="oid"/>
            <result property="number" column="number"/>
        </collection>
    </resultMap>
</mapper>